*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: black;
    color: black;
}
h1 {
    text-align: center;
    padding: 25px 0;
    color: snow;
}

.searchPokemon {
    max-width: 700px;
    width: 70%;
    min-width: 450px;
    margin: 30px auto;
    position: relative;
    display: flex;
}
.inp-group {
    width: 100%;
}
.searchPokemon input {
    width: 100%;
    padding: 15px;
    border: none;
    outline: none;
    border-radius: 3px;
    font-size: 18px;
}

.searchPokemon label {
    position: absolute;
    color: black;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 8px;
    transition: all 0.3s ease-in;
}

.searchPokemon button {
    margin-left: 5px;
    padding: 15px;
}

/* animation d'input */

.searchPokemon:focus-within label,
.searchPokemon.active-input label {
    top: -15px;
    padding-left: 5px;
    color: snow;
}


/* Liste des cartes */

.container {
    width: 70%;
    max-width: 1100px;
    height: auto;
    margin: 0 auto;
}
ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.listPokemon li {
    width: 250px;
    height: auto;
    padding: 15px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.listPokemon h5 {
    font-size: 19px;
}
.listPokemon p {
    font-size: 18px;
}

/* Anim loader */

.loader {
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dot {
    margin: 0px 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: snow;
    animation: up 0.3s alternate infinite;
}
.dot:nth-child(1) {
    animation-delay: 0.1s;
}
.dot:nth-child(2) {
    animation-delay: 0.2s;
}
.dot:nth-child(3) {
    animation-delay: 0.3s;
}
@keyframes up {
    100% {
        transform: translateY(-30px);
    }
}